@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Oswald:wght@500&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(/img/panoramica.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    display: grid;
    font-family: 'Open+Sans+Condensed', sans-serif;
    grid-template-areas:
    'header'
    'main'
    'footer' ;    
}

h1{
    background-color: rgb(219, 117, 33);
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 40px;
    text-align: center; 
}

main{
    background-color: rgba(255, 255, 255, 0.801);
    text-align:justify;
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    border-radius: 10px;
    padding: 15px;
}

header{
    grid-area: header;
    
}

footer{
    grid-area: footer;
  
}

p{
   
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    margin: 40px;
}


a{
   font-size: 50px;
   color: white; 
   margin-left: 40px;
}

.creditos{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-align: right;
    font-weight: bolder;
    color: white;
    background-color: black;
    padding-right: 15px;

}


fieldset{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 20px;
    width: 700px;
    
    
}

label {
    color:black;
    line-height: 1.3;
    font-style: strong;
    font-size: 1.04rem;
   align-items: center; 
}

#name {
    width: 300px;
}

#email, #interesse {
    width:200px;
}

#phone {
    width: 120px;
}

#date {
    width: 120px;
}


.dadosPessoais label{
    padding-bottom: 20px;
    font-size: 20px;
}

.dadosPessoais input{
    margin-bottom: 20px;
    margin-right: 10px;
}

.check{
    margin-top: 20px;
    font-size: 20px;
}

.idade{
    margin-bottom: 20px;  
}

.idade label{
    font-size: 20px;
}

.idade input{
    margin-right: 10px;
}


legend{
    font-size: 30px;

}

.botoes {
    text-align: center;
}

.pontos{
    font-size: 20px;
}

button{
    border: none;
    width: 200px;
    padding: 24px 24px;
    transition: .5s ease-in-out;
    margin: 100px auto;    
    border-radius: 10px;
    animation-name: shake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-size: 1rem;
    color: black;
}

button:hover {
    
    color: white;
    background-color: rgb(219,117,33);
    transform: scale(1.2);
    cursor: pointer;

} 

button:nth-child(2) {
    margin: 30px;
}
